<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" type = "text/css" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    {{>header}}
    <img src = "/img/WhatsApp Image 2020-05-28 at 3.38.05 PM.jpeg">
    <br>
    {{>footer}}
</body>
</html>