h1{
  color: orange
}
body{
  color: #000;
  font-family:sans-serif;
  max-width: 650px;
  margin:0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

button{
  cursor:pointer
}
img{
  width: 25vw;
  height: 50vh;
  padding-top: 20px;
}

footer{
  border-top: 2px solid #eeeeee;
  color: #888888;
  margin-top: 16px;
  padding: 16px 0;
}